:root {
  --navy: #0E1627;
  --mauve: #BDB6B9;
  --pink: #E5C5C1;
  --prune: #7F6269;
  --blush: #F4E1E0;
  --white: #ffffff;
}

* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color:var(--blush) ;
  color: var(--navy);
  line-height: 1.6;
}

header {
  background: var(--blush);
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: centre;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
  color: var(--blush);
  font-weight: 500;
}

nav a:hover {
  color: var(--pink);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 4rem 2rem;
   background: linear-gradient(
    135deg,
    var(--navy),
    var(--prune)
  );
  color: var(--white);
  border-radius: 0 0 40px 40px;
}

.hero img {
  width: 220px;
  border-radius: 50%;
}

.hero-text h1 {
  font-size: 2.2rem;
  color: var(--white);
}

.hero-text p {
  margin-top: 1rem;
  max-width: 400px;
   color: var(--pink);
}

section {
  padding: 3rem 2rem;
}

.section-title {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
   color: var(--navy);
}
.section-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: var(--prune);
  margin: 8px auto 0;
  border-radius: 10px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
}

.card {
  background: var(--white);
  padding: 1.5rem;
  border-radius: 10px;
  border-left: 5px solid var(--prune);
  box-shadow:0 8px 20px rgba(0,0,0,0.08) ;
}
.card:hover {
  transform: translateY(-5px);
  border-left-color: var(--pink);
}

footer {
  text-align: center;
  padding: 1rem;
   background: var(--navy);
  color: var(--blush);
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
}
.btn {
  display: inline-block;
  margin-top: 1.2rem;
  padding: 0.6rem 1.2rem;
  background-color: var(--prune);
  color: var(--white);
  text-decoration: none;
  border-radius: 6px;
  font-size: 0.9rem;
}

.btn:hover {
  background-color: var(--pink);
  color:var(--navy);
}
.container {
  max-width: 900px;
  margin: auto;
  padding: 2.5rem 1.5rem;
  text-align: left;
}
h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

h2 {
  font-size: 1.6rem;
  margin-top: 2.5rem;
  margin-bottom: 0.8rem;
  color: #1f2933;
  text-align: center;
}

p, li {
  font-size: 1rem;
  color: #374151;
   margin: 0.6rem auto;
 
}
ul {
  margin-left: 1.2rem;
}

li {
  margin-bottom: 0.5rem;
}
.card:hover {
  transform: translateY(-3px);
  transition: 0.3s ease;
}
.contact-section {
  text-align: center;
  max-width: 600px;
  margin: auto;
}

.contact-section p {
  margin: 0.8rem 0;
}
.contact-section a {
  display: inline-block;
  margin-top: 0.3rem;
}
